@import "./variable";

html {
  background-color: $color-bg;
}

.App {
  text-align: center;
  text-shadow: 1px 1px 1px #fff;
}

.App-header {
  justify-content: center;
}

.App-header h1 {
  margin: 50px 0;
  color: #babecc;
}
