@import "./variable";

.list {
  .item {
    margin-bottom: 25px;
    border-radius: 15px;
    box-shadow: -5px -5px 20px $color-white, 5px 5px 20px $color-shadow;
    padding: 15px;

    .img {
      min-width: 150px;
      min-height: 200px;
      background-color: $color-shadow;
    }

    .name,
    .price {
      font-weight: bold;
      color: $text-color;
    }
  }
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px;
  padding: 0 50px;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}
