@import "./variable";

.list {
  .item {
    margin-bottom: 25px;
    border-radius: 15px;
    box-shadow: -5px -5px 20px $color-white, 5px 5px 20px $color-shadow;
    padding: 15px;

    .img {
      min-width: 150px;
      min-height: 200px;
      width: 100%;
      height: auto;
      margin: auto;
      background-color: $color-shadow;
    }

    .name,
    .price {
      font-weight: bold;
      color: $text-color;
    }
  }
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px;
  padding: 0 50px;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

.slider-control-centerright,
.slider-control-centerleft {
  height: 100%;

  button {
    height: 100%;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    color: transparent;
    transition: all ease 0.3s;

    &:hover {
      background-color: #00000030;
      transition: all ease 0.3s;
    }

    &:focus {
      outline: none;
    }
  }
}
